* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #F2E9E1;
}

header #menu {
  position: fixed;
  background-color: #008E9C;
  width: 100%;
  min-width: 200px;
  margin: 1;
  top: 0;
  color: white;
  display: block;
}

header.large #menu {
  height: 133px;
}

header.small #menu {
  height: 50px;
}

header #logo {
  font-family: "Monoton", sans-serif;
  font-stretch: expanded;
  display: inline;
  float: left;
  text-align: center;
}

header.large #logo {
  font-size: 60px;
  padding: 0px;
  margin-left: 20px;
  line-height: 133px;
}

header.small #logo {
  font-size: 42px;
  padding: 5px;
  margin-left: 0px;
  line-height: 42px;
  top: 0px;
}

header #logo a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: inherit;
}

header #snippett {
  transform: rotate(-2deg);
  font-size: 23px;
  font-style: italic;
  line-height: 1,5;
  position: absolute;
  height: 80px;
  width: 280px;
  top:23px;
  left: 280px;
}

header.small #snippett {
  display: none;
}

header #percentage {
  color: white;
  font-size: 23px;
  font-style: italic;
  line-height: 50px;
  position: absolute;
  height: 40px;
  width: 280px;
  left: 280px;
}

header.large #percentage {
  display: none;
}

header #durades {
  width: 450px;
  position: relative;
  z-index: 3;
  float: right;
}

header.large #durades {
  right: 36px;
  top: 40px;
}

header.small #durades {
  right: -160px;
  top: 5px;
}

header #boto_durada {
  color: #B1DAE2;
  font-family: "Oswald", sans-serif;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: #008E9C;
  display: inline-block;
  position: relative;
  text-align: center;
  float: left;
}

header.large #boto_durada {
  border: 3px #53777A solid;
  margin-left: 33px;
  line-height: 40px;
}

header.small #boto_durada {
  border: 0px #53777A solid;
  margin-left: 13px;
  line-height: 40px;
}

header #boto_durada:hover {
  color: #008E9C;
  background-color: #B1DAE2;
}

header #boto_durada:active {
  color: #D95B43;
  background-color: #ECD078;
}

header.large #boto_durada:active {
  border: 3px #D95B43 solid;
}

header.small #boto_durada:active {
  border: 0px #D95B43 solid;
}

#cos {
  background-color: white;
  margin: auto;
  padding-top: 130px;
  display: block;
  width: 70%;
}

#cos p {
  font-family: "Merriweather", serif;
  font-size: 1.2em;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 30px;
  text-align: left;
  line-height: 1,5;
  color: #1C140D;
  font-variant-ligatures: common-ligatures;
}

.separador {
  width: 35px;
  height: 35px;
  padding: 70px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  z-index: 0;
}

header #groc {
  background-color: #ECD078;
  height: 5px;
  width: 0%;
  display: block;
  position: fixed;
  left: 0;
  float: left;
}

header #vermell {
  background-color: #D95B43;
  height: 5px;
  width: 100%;
  display: block;
  position: fixed;
  right: 0;
  float: right;
}

header.large #groc {
  top: 133px;
}

header.large #vermell {
  top: 133px;
}

header.small #groc {
  top: 50px;
}

header.small #vermell {
  top: 50px;
}

.capcalera {
  font-family: Oswald, sans-serif;
  display: block;
  text-align: center;
}

.titol {
  padding-top: 40px;
  font-size: 66px;
}

.titol a {
  text-decoration: none;
  color: #542437;
}

.titol a:hover {
  text-decoration: underline;
}

.autor {
  color: #D95B43;
  font-weight: lighter;
  font-size: 32px;
  display: inline-block;
}

#durada {
  color: #ECD078;
  font-weight: lighter;
  font-size: 32px;
  display: inline-block;
  padding-left: 20px;
}

#conte p:first-child {
  transform: rotate(-2deg);
  padding-left: 75px;
  padding-bottom: 60px;
  color: #53777A;
}

header, #menu, a, #logo, li, #snippett, #durades, #boto_durada, #groc, #vermell {
  transition: all 200ms;
}
