{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>Text Curt</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Oswald|Monoton" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/txct.css' %}">
    <script type="text/javascript" src="{% static 'js/txct.js' %}"></script>
  </head>
  <body>
    <div id="menu">
      <a href="/" id="logo">TX;CT</a>
      <div id="snippett">
        Lectures ràpides amb quètxup o mostassa, per gaudir de drets o d'asseguts.
      </div>
      <div id="vermell"></div>
        <div id="durades">
          <a href="{% url 'cinc' %}"><div class="boto_durada" id="5">5</div></a>
          <a href="{% url 'deu' %}"><div class="boto_durada" id="10">10</div></a>
          <a href="{% url 'quinze' %}"><div class="boto_durada" id="15">15</div></a>
          <a href="{% url 'vint' %}"><div class="boto_durada" id="20">20</div></a>
          <a href="{% url 'vinticinc' %}"><div class="boto_durada" id="25">25</div></a>
        </div>
      </div>

      {% block content %}
      {% endblock %}

    <div id="groc"></div>
  </body>
</html>
