{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Oswald|Monoton" rel="stylesheet">
  </head>
  <body>
    <div id="fons">
    <div id="envoltori">
      <div id="logo">TX;CT</div>
      <div id="snippett">
        <p>
És un recull de textos curts de domini públic ordenats segons durada.        </p>
        <p>
          <br/>
          Quants minuts tens?
        </p>
        </div>
        <div id="durades">
          <a href="{% url 'cinc' %}"><div id="boto_durada">5</div></a>
          <a href="{% url 'deu' %}"><div id="boto_durada">10</div></a>
          <a href="{% url 'quinze' %}"><div id="boto_durada">15</div></a>
          <a href="{% url 'vint' %}"><div id="boto_durada">20</div></a>
          <a href="{% url 'vinticinc' %}"><div id="boto_durada">25</div></a>
        </div>
    </div>
    </div>
  </body>
