<!DOCTYPE html>
<html>
  <head>
    <title>Text Curt</title>
  </head>
  <body>
    <div id="menu">
      <div id="logo">TX;CT</div>
      <div id="snippett">
        Lectures ràpides amb quètxup o mostassa, per gaudir de drets o d'asseguts.
      </div>
      <div id="vermell"></div>
      <div id="groc"></div>
        <div id="durades">
          <div class="durada" id="25">25</div>
          <div class="durada" id="20">20</div>
          <div class="durada" id="15">15</div>
          <div class="durada" id="10">10</div>
          <div class="durada" id="5">5</div>
        </div>
      </div>

      {% for text in texts %}
          <div>
              <h1><a href="">{{ text.title }}</a></h1>
              <h2>{{ text.writer}}</h2>
              <p>durada: {{ text.read_time }}</p>
              <p>{{ text.text|linebreaksbr }}</p>
          </div>
      {% endfor %}

  </body>
</html>
