{% extends 'txct/base.html' %}
{% load staticfiles %}

{% block content %}
      <div id="cos">
      {% for text in texts %}
          <div class="capcalera">
              <h1 class="titol"><a href="{% url "text_detail" pk=text.pk %}">{{ text.title }}</a></h1>
              <h2 class="autor">{{ text.writer }}</h2>
              <h3 class="durada">{{ text.read_time }} minuts</h3>
          </div>
          <p></p>
              <p class="conte">{{ text.text|linebreaksbr }}</p>
              <img class="separador" src="{% static 'img/BURGERPLACEHOLDER.png' %}"/>
      {% endfor %}
    </div>
{% endblock %}
